%p#notice= notice

%p
  %b Temperature:
  = @reading.temperature
%p
  %b Specific gravity:
  = @reading.specific_gravity

= link_to 'Edit', edit_reading_path(@reading)
\|
= link_to 'Back', readings_path
