%h1.title
  %b Beginners Guide 
  to homebrew
.entry
  .image-style2
    %span
      %img{:alt => "", :height => "145", :src => "/images/darma_stout.jpg", :width => "145"}/
    .thumbnails

  %h2 So, you want to homebrew?
  %p Don't have a clue what to do?  Good, then read on.

  %p Homebrew is really easy with a few pieces of equipment and helpful hints!  Below you'll see each of the bits you need and why you need it.  I'll explain the basic process using a kit which is the easiest way to get started.  Its all pretty straightforward and makes sense so is easy to pick up.

  %h2 Choices
  %p Before you even begin you have a number of choices to make.  Firstly which beer do you want to brew?  There are tons of kits out there, you'll need to pick one.
  %p Second question is how are you going to be dispensing it?  Bottle or Barrel?  Bottling is more difficult to actually do, but its easier when you come to drinking your beer, no taps to fiddle with, plus they are easy to take over to a friends than a big bulky barrel.  So you'll need to make a few of these choices up front.

  %h2 Equipment
  %p As your starting out, you probably want the bare minimum of equipment that you need.  Obviously if you are bottling you'll need some bottles and if you are barreling, you'll need a pressure keg of some sort.  Initially I would suggest a King Keg or something similar.  Personally, for my first few batches I used a cheaper pressure keg, but eventually it started splitting and the tap was useless, but I've heard good things about King Kegs.
  %ul
    %li 
      %strong 1 Fermentation Bucket
      = " - This needs to be large enough to hold all your beer.  Normally a kit will go to around 20-23 litres."
    %li
      %strong 1 Syphon pipe
      = " - This is used to get your beer out of your fermentation bucket."
    %li
      %strong 1 large paddle
      = " - The paddle is used to mix in your kit's malt and other ingredients at the start of the process."
    %li
      %strong 1 thermometer
      = " - The thermometer is there to check that temperature levels are in the right range for the yeast to be active.  Too high and you might kill them, too low and they won't be doing much work."
    %li
      %strong 1 Hydrometer
      = " - This measuring device (i didn't have a clue what it was for first time i used it) is for measuring the density of the fluid.  As the yeast ferment the liquid, the alcohol content increases, and as this happens the density of the liquid decreases which is measured by this tool."
    %li
      %strong Bottles or Barrel
      = " - These should be obvious.  You'll need enough to store all your beer."


- content_for :sidebar do
  = render :partial => "shared/sidebar"
